aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiomysql
aiosignal
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
click
colorama
fastapi
frozenlist
gevent
greenlet
h11
idna
Jinja2
magic-filter
MarkupSafe
multidict
pycparser
pydantic
pydantic_core
PyMySQL
python-multipart
requests
setuptools
sniffio
starlette
typing_extensions
urllib3
uvicorn
websocket
websockets
yarl
zope.event
zope.interface
types-redis
redis